@import '../base';

.contacts {
  
  //.contacts__container 
  &__container {
    @include viewport-desktop {
      padding-left: var(--wrap-1);
      padding-right: var(--wrap-1);
    }
  }
  
  //.contacts__wrapper 
  &__wrapper {
    width: 100%;

    @include viewport-tablet-min {
      display: flex;
      justify-content: space-between;
    }

    > * + * {
      @include viewport-tablet-min {
        margin-left: px-to-rem(60);
      }
      @include viewport-phone {
        margin-top: px-to-rem(60);
      }
    }
  }
  
  //.contacts__info 
  &__info {
    width: 100%;

    @include viewport-desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      max-width: px-to-rem(460);
    }

    @include viewport-tablet {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      max-width: px-to-rem(370);
    }

    > * + * {
      @include viewport-tablet-min {
        margin-top: px-to-rem(50);
      }
      @include viewport-phone {
        margin-top: px-to-rem(60);
      }
    }
  }
  
  //.contacts__title 
  &__title {
    font-weight: 500;
    line-height: 110%;
    font-size: px-to-rem(20);
    color: var(--color-black-100);
  }
  
  //.contacts__logo 
  &__logo {
    @include viewport-desktop {
      max-width: px-to-rem(336);
    }
    @include viewport-tablet-max {
      max-width: px-to-rem(324);

      @media (max-width: 650px) {
        max-width: px-to-rem(276);
      } 
    }
  }
  
  //.contacts__description 
  &__description {
    font-weight: 500;
    line-height: 150%;
    font-size: px-to-rem(24);

    &.desktop {
      @include viewport-phone {
        display: none;
      }
    }

    &.mobile {
      @include viewport-tablet-min {
        display: none;
      }
    }

    @include viewport-phone {
      margin-top: px-to-rem(20);
      color: var(--color-black-100);

      @media (max-width: 650px) {
        font-size: px-to-rem(20);
      }
    }
  }
  
  //.contacts__link 
  &__link {
    @include transition(color 0.4s);

    text-decoration: unset;
    font-weight: 700;
    line-height: 150%;
    font-size: px-to-rem(24);

    color: var(--color-black-100);

    @include hover-focus-visible {
      @include non-mobile-device {
        color: var(--color-red-100);
      }
    }

    @include viewport-phone {
      @media (max-width: 650px) {
        font-size: px-to-rem(20);
      }
    }
  }
  
  //.contacts-list 
  &-list {
    max-width: px-to-rem(360);

    > * + * {
      margin-top: px-to-rem(20);
    }
  }
  
  //.contacts-form 
  &-form {
    width: 100%;

    @include viewport-desktop {
      max-width: px-to-rem(500);
    }
    @include viewport-tablet {
      max-width: px-to-rem(460);
    }
  }
}