@import 'normalize.css/normalize';
//@import 'swiper/css';

@import './base';
@import './settings';
@import './fonts';


@import 'vevet/src/sass/components/scroll/scrollbar';
@import 'vevet/src/sass/components/loading/preloader';

@import './colors';
@import './common';
@import './wrap';

.#{$prefix}scrollbar {
  &__thumb {
    background-color: var(--color-highlight);
  }
}

html,
body {
  //overflow-x: hidden;
  line-height: 150%;

  &.lock{
    overflow: hidden;
  }
}

html {
  &:not(.v-loaded) {
    overflow: hidden;
  }

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  @include reset-ul;
}

._container {
  width: 100%;
  padding-left: var(--wrap);
  padding-right: var(--wrap);
}

.logo-link {
  display: flex;
  align-items: center;
  width: 100%;
  //cursor: pointer;
  text-decoration: unset;
  color: var(--color-white);

  img,
  svg {
    width: 100%;
    height: auto;

    &.desktop {
      @include viewport-phone {
        display: none;
      }
    }

    &.mobile {
      @include viewport-tablet-min {
        display: none;
      }
    }
  }
}

.button-dark {
  @include button-dark;
}

.button-light {
  @include button-light;
}

.action {
  text-align: left;

  > * + * {
    margin-top: px-to-rem(24);
  }

  //.action__header 
  &__header {
    > * + * {
      margin-top: px-to-rem(10);
    }
  }
  
  //.action__title 
  &__title {
    line-height: 100%;
    font-weight: 600;

    @include viewport-tablet-min {
      font-size: px-to-rem(48);
    }

    @include viewport-phone {
      font-size: px-to-rem(32);
    }
  }
  
  //.action__subtitle 
  &__subtitle {
    font-weight: 300;

    @include viewport-tablet-min {
      font-size: px-to-rem(16);
    }
    @include viewport-phone {
      font-size: px-to-rem(14);
    }
  }
  
  //.action__main 
  // &__main {
  // }
  
  //.action-form 
  // &-form {
  // }
}

.section,
section {
  overflow-x: hidden;

  @include viewport-desktop {
    padding: px-to-rem(120) 0;
  }
  @include viewport-tablet {
    padding: px-to-rem(90) 0;
  }
  @include viewport-phone {
    padding: px-to-rem(60) 0;
  }
}

//templates
@import './layout/form';
@import './layout/header';
@import './layout/popup';
@import './layout/popup-custom';
@import './layout/footer';

@import './layout/menu';
@import './layout/banner';
@import './layout/frame';
@import './layout/categories';
@import './layout/benefits';
@import './layout/how-contact';
@import './layout/contacts';
@import './layout/show-animation';

.dropdown {
  &.desktop {
    position: relative;
    z-index: 0;

    @include viewport-phone {
      display: none;
    }
  }

  &.mobile {
    @include viewport-tablet-min {
      display: none;
    }

    > * + * {
      margin-top: px-to-rem(8);
    }
  }

  //.dropdown__header 
  &__header {
    @include reset-button;

    display: block;
    font-weight: 600;
    font-size: px-to-rem(20);
    color: inherit;
    
    @at-root .dropdown.desktop & {
      @include transition(color 0.4s);
      font-size: px-to-rem(16);

      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-red-200);
        }
      }
    }

  }

  //.dropdown-list 
  &-list {
    display: flex;
    flex-direction: column;

    @at-root .dropdown.desktop & {
      position: absolute;
      top: 100%;
      left: px-to-rem(-10);
      z-index: 0;

      width: max-content;
      padding: px-to-rem(10);

      opacity: 0;
      visibility: hidden;
      //transition: opacity 0.3s ease;
      transition: opacity 0.4s ease, visibility 0.3s 0.4s;

      background-color: var(--color-white);
    }

    @at-root .dropdown.desktop.viewed & {
      transition: opacity 0.4s ease 0.3s, visibility 0.3s 0s;
      opacity: 1;
      visibility: visible;
    }

    > * + * {
      margin-top: px-to-rem(8);
    }

    //.dropdown-list__item
    // &__item {

    // }

    //.dropdown-list__link 
    &__link {
      @include transition(color 0.4s);
      text-decoration: unset;
      font-size: px-to-rem(18);
      color: inherit;

      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-red-200);
        }
      }

      @at-root .dropdown.desktop & {
        font-size: px-to-rem(14);
      }
    }
  }
}